<!DOCTYPE html>
<html>
<head>
    <title>Merchant</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Lato' rel='stylesheet' type='text/css'>
    <link href="../static/merchant2.css" rel="stylesheet" />
</head>
<body>
    <div class="mainPanel outline container-fluid">
        <div class="name">
            <h1>Username's</h1>
            <h1>Resteraunt</h1>
        </div>
        <div class="row">
            <div class="col-md-6 button outline"><a href="{% url 'logout'%}">Logout</a></div>
            <div class="col-md-6 button outline" onclick="hide()">Add Resteraunt</div>
        </div>
        <form class="outline notshown" id="form" method = "post" enctype="multipart/form-data" action = "{% url 'create_restaurant'%}">
            <div>Resteraunt Name</div>
            {{ form.name }}
            <div>Phone Number</div>
            {{ form.phoneNumber }}
            <div>Address</div>
            {{ form.address }}
            <div>Photo</div>
            {{ form.photo }}
            <div>Description</div>
            {{ form.description }}
            <input type="submit" value="submit" />
            {% csrf_token %}
        </form>
        <div class="restPanel">
            {% for restaurant in restaurants %}
            <div class="row outline ">
                <div class="col-md-2 outline"><img src="{% url 'get_restaurant_photo' restaurant.pk %}"></div>
                <div class="col-md-6 outline">
                    <div><a href="{% url 'restaurant_profile' restaurant.pk %}">{{ restaurant.name }}</a></div>
                    <div>{{restaurant.phoneNumber}}</div>
                    <div>{{ restaurant.address }}</div>
                    <div>{{ restaurant.description }}</div>
                </div>
                <div class="col-md-2 outline">
                    <div><a href="{% url 'edit_Restaurant' restaurant.pk %}">Edit</a></div>
                    <div><a href="/merchant/deleterestaurant/{{restaurant.pk}}">Delete</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        function hide() {
            $("#form").toggleClass("notshown");
        }
    </script>
</body>
</html>
