<!DOCTYPE html>
<html>
<head>
    <title>MerchantProfile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Lato|Lobster|Fjalla+One|Raleway" rel="stylesheet" type="text/css">
    <link href="/static/MerchantProfile2.css" rel="stylesheet" />
</head>
<body ng-app="myApp" ng-controller="validateCtrl">
    <div class="menu container-fluid">
        <div class="col-md-1 dishName col-md-offset-7"><a href="{% url 'logout'%}">Logout</a></div>
        <div class="col-md-1 dishName "><a href="{% url 'customer_profile' 0 %}">Profile</a></div>
        <div class="col-md-1 dishName"><a href="{% url 'haystack_search'%}"> Search</a></div>
        <div class="col-md-1 dishName"><a href="{% url 'restaurant_list' %}">Restaruants</a></div>
    </div>
    <div class="panel outline">
        <div class="firstP">
            <div class="title" aria-hidden="true">{{restaurant.name}}</div>
            <div class="stars ">
                <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty btn-lg" aria-hidden="true"></span>
            </div>
        </div>

        <div class="info">
            <div class="container-fluid">
                <div class="row">
                    <div class="firstR col-md-3">
                    </div>
                    <div class="secondR col-md-3">
                        <img src="{% url 'get_restaurant_photo' restaurant.pk %}">
                    </div>
                    <div class="thirdR col-md-3">
                        <div class="topPart2">
                            <div class="time">Address</div>
                            <div class="hour changeline">{{restaurant.address}}</div>
                            <div class="time">Phone Number</div>
                            <div class="hour">{{restaurant.phoneNumber}}</div>
                        </div>
                        <div class="botPart2">
                            <div class="time">Bio</div>
                            <div class="hour changeline">{{restaurant.description}}</div>
                        </div>

                    </div>
                    <div class="forthR col-md-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="editPart">
            <div class="menuPart">
                <div class="menuPanel">
                    <div class="menuLogo ">Menu</div>
                    <!--<div class="menuTitle2 ">-Soup-</div>-->
                    {% for dish in dishes %}
                    <form name="orderForm" method="post" action="{% url 'order_dish' %}">
                        <div class="meal col-md-12">
                            <div class="col-md-3">
                                <div class="detail">Number:</div>
                                <input type="hidden" name="dish_id" value="{{ dish.pk }}">
                                <div>
                                    <span style="color:red" ng-show="orderForm.number.$touched && orderForm.number.$invalid">
                                        <span ng-show="orderForm.number.$error.required">required.</span>
                                        <span ng-show="orderForm.number.$error.pattern">pattern is wrong</span>
                                    </span>
                                    <input class="number" type="text" name="number" ng-model="number" ng-pattern="regex" required>
                                </div>
                                <input class="button" type="submit" value="order" ng-disabled="orderForm.number.$invalid">
                            </div>
                            <div class="col-md-9">
                                <span class="dishName">{{ dish.name }}</span>
                                <span class="price">${{ dish.price }}</span>
                                <div class="detail changeline">{{ dish.description }}</div>
                            </div>
                        </div>
                        {% csrf_token %}
						<input type = "hidden" name = "restaurant_id" value = "{{ restaurant.pk }}">
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="comments container-fluid">
            <div class="row">
                {% for comment in comments %}
                <div class="leftSide col-md-4">
                    <div class="profile col-md-3"></div>
                    <div class="comment col-md-9">
                        <p>{{comments.commenter}}</p>
                        <p>{{comments.createTime}}</p>
                        <p>{{comment.content}}</p>
                    </div>
                    <div class="square"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bag">
        <!--<div>wirte herte</div>-->
        <div class="dishName">bag</div>
		{% for dish in unpaidDishes %}
		<div>
            <div class="dishName changeline">{{ dish.dish.name }}</div>
            <span >${{ dish.dish.price }}</span>
            <span >{{ dish.dish.number }}</span>
            <a class="button" href = "{% url 'delete_unpaid' dish.pk %}"> delete</a>
        </div>
		{% endfor %}
        <a class="button" href="{% url 'unpaid_page' restaurant.pk %}">go to pay</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/static/MerchantProfile.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function ($scope) {
            $scope.regex = /^\+?[1-9]{1,2}$/
        });
    </script>

</body>
</html>
